<% include("../../common/head.html"){} %>
<script type="text/javascript">
	var setting = {
		view: {
			selectedMulti: false
		},
		data: {
			key: {
				title:"TITLE"
			},
			simpleData: {
				enable: true
			}
		},
		callback: {
			onClick:onClickTree
		}
	};
	$(function(){
		ztreeQuery();
  	});
	
	function ztreeQuery(){
		$("#id_div_resoure").html("");
		postAjax("restful?action=<#encAction action="dcode_query"/>","","ztreeInit");
	}
	
	//树及初始化
	function ztreeInit(data){
		var zNodes = data.D_CODE_LIST;
		$.fn.zTree.init($("#treeData"), setting, zNodes);
	    var zTree = $.fn.zTree.getZTreeObj("treeData");
	    $("#expandAllBtn").bind("click", {type:"expandAll"}, expandNode);
	    $("#collapseAllBtn").bind("click", {type:"collapseAll"}, expandNode);
	    if("${RID}"!=""){
	      //查找节点
	      var node = zTree.getNodeByParam("id","${RID}",null);
	      //展开节点
	      zTree.expandNode(node.getParentNode(), true, null, true, true);
	      //选中节点
	      zTree.selectNode(node);
	      //打开信息
	      showResourceData(node.UUID);
	    }else{
	      zTree.expandAll(true);
	    }
	}

	function onClickTree(event, treeId, treeNode, clickFlag){
		if(treeNode.PARENTNO=='ResourceTop'){
			$("#id_div_resoure").html("");
	      return true;
	    }
		showResourceData(treeNode.UUID);
	}
	
	function showResourceData(uuid){
		var app_id = $("#APP_ID").val();
		if(!app_id){
			app_id="";
		}
		postAjaxAndGetHtml("do?action=<#encAction action="dcode_edit"/>","UUID="+uuid+"&APP_ID="+app_id,"getResourceHtml");
	}
	
	function getResourceHtml(data){
		$("#id_div_resoure").html(data);
		requiredSign();//必填红点
		$.parser.parse($("#id_div_resoure"));//渲染  
		showLinkText();
		if($("#RID").val()!=''){
			$("#id_a_del").show();
		}
		$("input[name='CNO']").focus();
		$("#APP_ID").removeAttr("select-value");
		initSelect();
	}
	

	function expandNode(e) {
		var zTree = $.fn.zTree.getZTreeObj("treeData");
		var type = e.data.type;
		var nodes = zTree.getSelectedNodes();
		if (type.indexOf("All")<0 && nodes.length == 0) {
			alert("请先选择一个父节点");
		}

		if (type == "expandAll") {
			zTree.expandAll(true);
		} else if (type == "collapseAll") {
			zTree.expandAll(false);
		}
	}
	function addResource(){
		var zTree = $.fn.zTree.getZTreeObj("treeData");
		var nodes = zTree.getSelectedNodes();
		if (nodes.length == 0) {
			showResourceData("");
		}else{
			showResourceData("");
		}
	}

	//重排
	function setReturnValue(){
		var rid=getGlobalParam("CNO");
		if(!rid){
			rid="";
		}
		ztreeQuery();
	}
	
	//删除
	function delData(){
		showConfirm("是否确认删除?","delDataOK");		
	}
	function delDataOK(){
		postAjax("restful?action=<#encAction action="dcode_delete"/>","RID="+$("#RID").val(),"getReturnData");
	}
	function getReturnData(jsondata){
		showMsg(jsondata.g_message);
		setGlobalParam("RID","");
		setReturnValue();
	}
	//上、下移
	function moveNode(style){
		var app_id = $("#APP_ID").val();
		var zTree = $.fn.zTree.getZTreeObj("treeData");
		var nodes = zTree.getSelectedNodes();
		if(nodes.length==0){
			showMsg("请选择要移动的节点!");
			return;
		}
		postAjax("restful?action=<#encAction action="dcode_move"/>","CATEGORYNO="+nodes[0].CATEGORYNO+"&CNO="+nodes[0].CNO+"&PARENTNO="+nodes[0].PARENTNO+"&STYLE="+style+"&APP_ID="+app_id,"getReturnData1");
	}
	function getReturnData1(jsondata){
		setGlobalParam("RID",jsondata.RID);
		showMsg(jsondata.g_message);
		setReturnValue();
	}
	
	//如果是模块组则显示出连接
	function showLinkText() {
		if ($("#ISGROUP").val() == "0") {
			$('#EXTITEM1_TR').show();
			$('#EXTITEM2_TR').show();
		} else if ($("#ISGROUP").val() == "1") {
			$('#EXTITEM1_TR').hide();
			$('#EXTITEM2_TR').hide();
		}
	}
</script>

<table width="100%" id='id_table'>
	<tr>
		<td width="300" valign="top">
			<div class="easyui-panel">
				<div id='id_div_head' style="height: 30px; padding-top: 2px; padding-left: 2px;">
					<#hasButton code="dictionary.code_2">
					<a id="id_a_add" href="#" class="easyui-linkbutton btn_edit" onclick="addResource();return false;">新增</a></#hasButton>
					<a id="id_a_add" href="#" class="easyui-linkbutton btn_edit" onclick="moveNode(1);return false;">上移</a> <a id="id_a_add" href="#" class="easyui-linkbutton btn_edit" onclick="moveNode(2);return false;">下移</a> <a id="expandAllBtn" href="#" class="easyui-linkbutton btn_edit" onclick="return false;">展开</a> <a id="collapseAllBtn" href="#" class="easyui-linkbutton btn_edit" onclick="return false;">折叠</a>
				</div>
				<div id="id_div_tree" style="overflow-y: auto; height: 100%; border: 1px solid #ccc;">
					<ul id="treeData" class="ztree"></ul>
				</div>
			</div>
		</td>
		<td valign="top">
			<div id='id_div_resoure' class="easyui-panel" style="overflow-y: auto; height: 100%;"></div>
		</td>
	</tr>
</table>
<style>
#id_div_head .btn_edit {
	margin: 0px;
	width: 50px;
	height: 22px;
	padding: 0px
}
</style>
<script type="text/javascript">
  function saveData(){
    submitFormData2("form1","setReturnValue");
  }

	//自动缩放
	$(window).resize(function() {
		$('#id_div_tree').height($(window).height() - $('#id_div_head').height() -7);
		$('#id_div_resoure').height($(window).height() -10);
	});
</script>
<% include("../../common/end.html"){} %>
