<% include("../../common/head.html"){} %>
<form name="form1" id="form1">
	<div id="fieldset_condition" style="margin: 0px;">
		<fieldset>
			<legend id="fieldset_legend" onclick="fieldsetToggle('fieldset_legend','${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/');" style="cursor: pointer;" title="点击：显示/隐藏">
				<img src='${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/images/DHTMLSuite_minus.gif' />查询条件
			</legend>
			<table style="width: 100%;" id="fieldset_data">
				<tr>
					<td>分类编号：<input type='text' name='CNO' size='20' class="txtitem" /> 名称：<input type='text' name='CNAME' size='20' class="txtitem" /> <a href="#" class="easyui-linkbutton btn_query" data-options="iconCls:'icon-search'" onclick='queryData()'>查询</a>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div style="margin: 0px;">
		<table id="dg" class="easyui-datagrid" title="" data-options="">
			<thead>
				<tr>
					<th data-options="field:'UUID',hidden:true">主键</th>
					<th data-options="field:'CNO',width:100,align:'left'">分类编号</th>
					<th data-options="field:'CNAME',width:160,align:'left',fixed:true,halign:'center'">名称</th>
					<th data-options="field:'NOTES',width:360,align:'left',halign:'center'">备注</th>
				</tr>
			</thead>
		</table>
	</div>
</form>
<script>
	//初始化加载
	$(function() {
		var pager = $('#dg').datagrid('getPager');//获取表格分页
		pager.pagination({buttons:stoolbar});
		queryData();
	});

	
	//自动缩放
	$(window).resize(function() {
		$('#dg').resizeDataGrid($("#fieldset_condition").height()+1, 4, 0, 0);
	});
	
	//查询
	function queryData() {
		var s_url = "restful?action=<#encAction action="codecategory_query"/>";		
		$('#dg').datagrid({
			url : s_url,
			pageNumber:1,
			queryParams : $('#form1').serializeObject(),
			onLoadSuccess:function(data){
				//成功验证是否有无出错
				if(data.g_result=="0"){
					showMsg(data.g_message);
				}
			},
			onDblClickRow:function(rowIndex, rowData){
				//双击
				updateData('修改',rowData.UUID);
			}
		});
		var pager = $('#dg').datagrid('getPager');	//获取表格分页
		pager.pagination({buttons:stoolbar});
	}
	
	//刷新查询
	function  refreshQueryData(jsondata){
		if(jsondata.g_result ){
			if(!jsondata.showMsgFlag){
				//没有显示过的，显示
				showMsg(jsondata.g_message);
			}
			if(jsondata.g_result=='1'){
				queryData();
			}
		}				
	}
	
	//底部按钮
	var stoolbar = ['-' 
    <#hasButton code="dictionary.codecategory_2">,'-', 
	{
		text : '新增',
		iconCls : 'icon-add',
		handler : function() {
			updateData('新增','');
		}
	}
	</#hasButton>
	<#hasButton code="dictionary.codecategory_2">
	,'-',{
		text : '修改',
		iconCls : 'icon-save',
		handler : function() {
			var rows = $('#dg').datagrid('getSelections');
			if(rows.length!=1){
				showMsgAndExecFn("请选择一条数据！","");
				return;
			}
			updateData('修改',rows[0].UUID);
		}
	}
	</#hasButton>
	<#hasButton code="dictionary.codecategory_8">
	,'-', {
		text : '删除',
		iconCls : 'icon-remove',
		handler : function() {
			var rows = $('#dg').datagrid('getSelections');
			if(rows.length!=1){
				showMsgAndExecFn("请选择一条数据！","");
				return;
			}
			showConfirm("删除该条数据吗？","delData");	
		}
	}
	</#hasButton>];
	
	//处理按钮多余的坚线
  	stoolbar=dataGridButtonFilter(stoolbar);
	
	function updateData(title,uuid){
		var cmd = "A";
		if(uuid){
			cmd = "U";
		}
		openWindow(title,'do?action=<#encAction action="codecategory_edit"/>&UUID='+uuid+'&CMD='+cmd,300,500,"refreshQueryData");
	}
	
	function delData(){
		var rows = $('#dg').datagrid('getSelections');
		if(rows.length!=1){
			showMsgAndExecFn("请选择一条数据！","");
			return;
		}
		for(var i=0; i<rows.length; i++){
			postAjax("restful","action=<#encAction action="codecategory_delete"/>&UUID="+rows[i].UUID,"refreshQueryData");		
		}
	}
</script>
<% include("../../common/end.html"){} %>
