<% include("../../common/head.html"){} %>
<form name="form1" id="form1">
	<div id="fieldset_condition" style="margin: 0px;">
		<fieldset >
			<legend id="fieldset_legend" onclick="fieldsetToggle('fieldset_legend','${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/');" style="cursor: pointer;" title="点击：显示/隐藏">
				<img src='${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/images/DHTMLSuite_minus.gif' />查询条件
			</legend>
			<table style="width:100%;" id="fieldset_data">
				<tr>
					<td>
						
						<div style="float: left; margin-right: 10px;"">表名：<input type="text" name="TABLE_NAME" style="width: 160px;" class="txtitem" /></div>
						<div style="float: left;">
							<a href="#" class="easyui-linkbutton btn_query" data-options="iconCls:'icon-search'" onclick="queryList()">查询</a>
							<a href="#" class="easyui-linkbutton btn_query" data-options="iconCls:'icon-delete'" onclick="deleteCache('', '确定删除所有数据？')">删除所有</a>
						</div>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div style="margin: 0px;">
		<table id="dg"></table>
	</div>
</form>

<div id="detailWin" class="easyui-window" title="详情" style="width: 700px; height: 450px; display: none;" data-options="modal: true, collapsible: false, minimizable: false, maximizable: false, zIndex: 99, closed: true">
	<form id="form1" name="form1" method="post" action="restful">
		<table class="dataintable form_bod">
			<tr style="height: 5px;"></tr>
			<tr>
				<td style="width: 13%; text-align: right; padding-right: 5px;">REDIS_KEY:</td>
				<td style="width: 87%">
					<input type="text" id="detail_redisKey" class="txtitem" style="width: 95%;" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td style="text-align: right; padding-right: 5px;">字段信息:</td>
				<td>
					<textarea id="detail_fields" rows="17" cols=""  style="width: 93%" readonly="readonly"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="4" align="center" width="100%">
					<a class="easyui-linkbutton btn_edit" data-options="iconCls:'icon-ok'" href="javascript:;" onclick='$("#detailWin").window("close");'>关闭</a>
				</td>
			</tr>
		</table>
	</form>
</div>

<script type="text/javascript">
	// 应用信息
	var appInfos = <#appList type="2"></#appList>;

	// 初始化
	$(function() {
		initDataGrid();
		
		var internalAppInfos = new Array();
		$.each(appInfos, function () {
			if (this.type.indexOf("INTERNAL") != -1) {
				internalAppInfos.push(this);
			}
		});
		// 应用下拉框
		initSelectOption("appInfos", internalAppInfos);
	});
	
	// 初始化数据表格
	function initDataGrid() {
		$("#dg").datagrid({
			url: CTX.url.list,
			pageNumber: 1,
		    pageSize: CTX.datagrid.pageSize,
		    pageList: CTX.datagrid.pageSizeList,
			//fitColumns: true,
			striped: true,
			columns: [[
				{field : "TABLE_NAME", title : "表名", width : 160, align: "left", halign: "center"},
				{field : "REDIS_KEY", title : "REDIS_KEY", width : 350, align: "left", halign: "left", hidden: true},
				{field : "DATASOURCE", title : "数据源", width : 200, align: "left", halign: "center"},
				{field : "FIELDS", title : "字段信息", width : 450, align: "left", halign: "center", 
					formatter: function(value, row, index){
						return "<div style='display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden; text-overflow: ellipsis;'>" + value + "</div>"
					}
				}
			]],
			queryParams: $("#form1").serializeObject(),
			onLoadSuccess: function(data){
				if(data.g_result == "0"){
					showMsg(data.g_message);
				}
				bindEnlargeEvent("enlarge");
			},
			onDblClickRow: function(rowIndex, rowData){
				openDetailWin(rowData);
			}
		});
		
		var pager = $("#dg").datagrid("getPager");	//获取表格分页
		pager.pagination({buttons: [
			{
				text : "详情",
				iconCls : "icon-information",
				handler : function() {
					var rows = $("#dg").datagrid("getSelections");
					if(rows.length!=1){
						showMsgAndExecFn("请选择一条数据！", "");
						return;
					}
					
					openDetailWin(rows[0]);
				}
			},
			{
				text : "删除",
				iconCls : "icon-delete",
				handler : function() {
					var rows = $("#dg").datagrid("getSelections");
					if(rows.length!=1){
						showMsgAndExecFn("请选择一条数据！", "");
						return;
					}
					
					deleteCache(rows[0].REDIS_KEY, "确定删除所选数据？");
				}
			}
		]});
		
		// 自动缩放
		$(window).resize(function() {
			$("#dg").resizeDataGrid($("#fieldset_condition").height() + 1, 4, 0, 0);
		});
	}
	
	// 打开详情窗口
	function openDetailWin(rowData){
		$("#detail_redisKey").val(rowData.REDIS_KEY);
		$("#detail_fields").val(rowData.FIELDS);
		$("#detailWin").window("open");
	}
	
	// 查询表格
	function queryList() {
		$("#dg").datagrid("reload", $("#form1").serializeObject());
	}
	
	function deleteCache(redisKey, tips) {
		$.messager.confirm("提示", tips, function(r) {
			if (r) {
				$.post(
					CTX.url.del + redisKey,
					function (data) {
						if (data) {
							data = eval("(" + data + ")");
							
							if (data.g_result == 1) {
								queryList();
							} else {
								showMsg(data.g_message);
							}
						} else {
							queryList();
						}
					}
				);
			}
		});
	}

</script>

<script>
	(function () {
		function PageContext () {
			this.url = {
				list: "restful?action=<#encAction action="get_table_metadata_list"/>",
				del: "restful?action=<#encAction action="delete_table_metadata_cache"/>&REIDS_KEY="
			},
			this.datagrid = {
				pageSize: 5000,
				pageSizeList:  [5000]
			}
		}
		window.CTX = new PageContext();
	}) ();

</script>

<% include("../../common/end.html"){} %>