body, li, ul, input {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
    overflow: hidden;
    list-style: none
}

body {
    background: #181f3d;
}

a {
    text-decoration: none
}

iframe {
    border: none
}

.header {
    height: 70px;
    padding: 0 20px;
    border-bottom: 1px solid #464c64
}

.header:after {
    content: "";
    clear: both;
    display: block
}

#Sliding_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#Popup_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.logo {
    background: url(./images/logo.png) no-repeat left center;
    padding-left: 60px;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 5px;
    float: left;
}

.header__right {
    float: right;
}

.header__right:after {
    content: "";
    clear: both;
    display: block
}

.setting {
    background: url(./images/seting.png) center no-repeat;
    width: 42px;
    height: 42px;
    float: right;
    margin-top: 14px;
    cursor: pointer;
    POSITION: relative;
    z-index: 10;
}

.setting:hover {
    background: #255297 url(./images/seting.png) center no-repeat;
    border-radius: 5px;
}

.header__user {
    position: absolute;
    right: 60px;
    height: 42px;
    line-height: 42px;
    margin-top: 14px;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
    margin-right: 10px;
    box-sizing: border-box;
    transition: all 0.2s;
    overflow: hidden;
    z-index: 10
}

.exit {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
}

.exit__btn {
    color: #fff;
    background: #e11545;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
}

.header__user span {
    background: url(./images/arrow.png) no-repeat right center;
    padding-right: 30px;
    display: block
}

.header__user:hover {
    background: #255297;
    border-radius: 5px;
    height: 90px;
}

.header__user:hover .exit {
    display: block;
}

.mainbody {
    padding: 0 15px;
}

.mainbody__section {
    overflow: hidden;
    padding-top: 30px;
    box-sizing: border-box;
}

.mainbody__card {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
    height: 100%;
}

.mainbody__cardbg {
    height: 100%;
    border-radius: 5px;
    color: #fff;
    padding: 10PX;
    box-sizing: border-box;
    cursor: pointer;
}

.mainbody__cardtxt {
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    overflow: hidden;
}

.mainbody__cardtxt_r {
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 225, 0.6);
    padding: 0 6px;
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: 14px;
    font-weight: normal
}

.mainbody__cardtxt--BP {
    background: url(./images/icon_7.png) no-repeat left center;
    padding-left: 40px;
}

.mainbody__cardtxt--HP {
    background: url(./images/icon_8.png) no-repeat left center;
    padding-left: 40px;
}

.mainbody__cardtxt--YH {
    background: url(./images/icon_9.png) no-repeat left center;
    padding-left: 40px;
}

.mainbody__cardtxt--RZ {
    background: url(./images/icon_10.png) no-repeat left center;
    padding-left: 40px;
}

.mainbody__cardtxt--YJ {
    background: url(./images/icon_11.png) no-repeat left center;
    padding-left: 40px;
}

.mainbody__cardnum {
    font-size: 70px;
    text-align: center;
    line-height: 100%;
    overflow: hidden;
    font-weight: bold;
    transition: all 0.2s;
}

.mainbody__smbg {
    width: 50%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    font-weight: bold;
    height: 100%;
    display: table
}

.mainbody__smbg span {}

.mainbody__smbg p {
    font-size: 18px !important;
    line-height: normal !important;
    padding: 0;
    margin: 0;
    font-weight: normal;
    transition: all 0.2s;
}

@media screen and (max-width:1400px) {
    .mainbody__smbg p {
        font-size: 14px !important;
        line-height: normal !important;
        padding: 0;
        margin: 0;
        font-weight: normal;
        transition: all 0.2s;
    }
}

.mainbody__smcont {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    line-height: normal !important;
    padding: 0;
    background: -webkit-linear-gradient( rgba(29, 215, 158, 0), #1fd99d);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( rgba(29, 215, 158, 0), #1fd99d);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( rgba(29, 215, 158, 0), #1fd99d);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( rgba(29, 215, 158, 0), #1fd99d);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd99d', endColorstr='#1fd99d', GradientType=0);
}

.mainbody__smbg--yj {
    width: 33.333%;
}

.mainbody__smcont--yj {
    background: -webkit-linear-gradient( rgba(29, 215, 158, 0), #f35379);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( rgba(29, 215, 158, 0), #f35379);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( rgba(29, 215, 158, 0), #f35379);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( rgba(29, 215, 158, 0), #f35379);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f35379', endColorstr='#f35379', GradientType=0);
}

.mainbody__smcont--tdyj {
    position: relative;
    background: -webkit-linear-gradient( rgba(29, 215, 158, 0), #ff6a75);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( rgba(29, 215, 158, 0), #ff6a75);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( rgba(29, 215, 158, 0), #ff6a75);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( rgba(29, 215, 158, 0), #ff6a75);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a75', endColorstr='#ff6a75', GradientType=0);
}

.mainbody__tddot {
    position: absolute;
    right: 10px;
    background: #f21a56;
    border: 2px solid #fffab9;
    width: 10px;
    height: 10px;
    top: 30px;
    border-radius: 50%
}

.mainbody__cardbg--green {
    background: -webkit-linear-gradient(45deg, #10bb7c, #24d09d);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #10bb7c, #24d09d);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #10bb7c, #24d09d);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #10bb7c, #24d09d);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10bb7c', endColorstr='#24d09d', GradientType=1);
}

.mainbody__cardbg--green:hover {
    background: #10bb7c
}

.mainbody__cardbg--blue {
    background: -webkit-linear-gradient(45deg, #1872f2, #3089e5);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #1872f2, #3089e5);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #1872f2, #3089e5);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #1872f2, #3089e5);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1872f2', endColorstr='#3089e5', GradientType=1);
}

.mainbody__cardbg--blue:hover {
    background: #3089e5
}

.mainbody__cardbg--purple {
    background: -webkit-linear-gradient(45deg, #551597, #7a2db4);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #551597, #7a2db4);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #551597, #7a2db4);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #551597, #7a2db4);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#551597', endColorstr='#7a2db4', GradientType=1);
}

.mainbody__cardbg--purple:hover {
    background: #7a2db4
}

.mainbody__cardbg--brown {
    background: -webkit-linear-gradient(45deg, #a16d07, #bc9012);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #a16d07, #bc9012);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #a16d07, #bc9012);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #a16d07, #bc9012);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a16d07', endColorstr='#bc9012', GradientType=1);
}

.mainbody__cardbg--brown:hover {
    background: #bc9012
}

.mainbody__cardbg--red {
    background: -webkit-linear-gradient(45deg, #d73556, #e4577b);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #d73556, #e4577b);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #d73556, #e4577b);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #d73556, #e4577b);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d73556', endColorstr='#e4577b', GradientType=1);
}

.mainbody__cardbg--red:hover {
    background: #d73556
}

.mainbody__chart {
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
    color: #ffffff;
    height: 100%;
}

.mainbody__chart--w01 {
    width: 42%
}

.mainbody__chart--w02 {
    width: 32%
}

.mainbody__chart--w03 {
    width: 26%
}

.mainbody__chartbg {
    background: #202e69;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mainbody__charthd {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 18px;
}

.mainbody_select {
    float: right;
    height: 30px;
    line-height: 30px;
    background: #293f9f;
    border-radius: 3px;
    padding: 0 5px;
    color: #5e96d3;
    font-size: 14px;
    margin-left: 5px;
}

.mainbody_select img {
    margin-top: 5px;
}

.mainbody_select span {
    background: url(./images/arrow2.png) no-repeat right center;
    padding: 0 20px 0 5px;
    cursor: pointer;
}

.mainbody__chartbody {
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}

.mainbody__fastenter {
    padding-top: 10px;
    overflow: hidden;
}

.mainbody__fastenter li {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 5px;    display: table;
}

.mainbody__fastlink {
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    cursor: pointer;
    background: -webkit-linear-gradient(45deg, #247ff3, #43a0f7);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(45deg, #247ff3, #43a0f7);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(45deg, #247ff3, #43a0f7);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(45deg, #247ff3, #43a0f7);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#247ff3', endColorstr='#43a0f7', GradientType=1);
}

.mainbody__fastlink:hover {
    background: #43a0f7;
}

.mainbody__iconb {
    text-align: center;
   
}

.mainbody__icontxt {
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    color: #ffffff
}

.bottom {
    text-align: center;
    font-size: 12px;
    color: #5c79b1;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #23265c;
    position: absolute;
    bottom: 0
}

/* 弹出2 */

.black_bg {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    z-index: 11;
}

.Layout {
    background: #191b43;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 71px;
    z-index: 9;
    padding: 20px;
    box-sizing: border-box;
}

.Layout--window {
    margin: 30px;
    top: 0;
    z-index: 12;
    overflow: hidden;
    border-radius: 5px;
}

.Layout__hd {
    overflow: hidden;
    padding: 10px 0
}

.Layout__hd span {
    font-size: 20px;
    color: #fff;
    float: left;
}

.Layout__select {
    border-radius: 3px;
    border: 1px solid #474969;
    background: #21275a;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    float: left;
    margin: 0 10px;
    color: #8487a3;
    overflow: hidden;
    cursor: pointer;
}

.Layout__arr {
    background: url(./images/arrow.png) no-repeat right center;
    width: 30px;
    height: 30px;
    float: right;
    opacity: 0.58;
}

.Layout__section {
    color: #a2c5ef;
    overflow: hidden;
    padding-top: 20px;
}

.Layout__section img {
    max-width: 100%;
}

.Layout__chart {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    text-align: center
}

.Layout__hid {
    width: 60px;
    height: 20px;
    border: 1px solid #454561;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: -21px;
    background: -webkit-linear-gradient( #380953, #191b43);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( #380953, #191b43);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( #380953, #191b43);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( #380953, #191b43);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#380953', endColorstr='#191b43', GradientType=0);
    border-bottom: none;
    cursor: pointer;
    display: block
}

.Layout__hid:hover {
    background: -webkit-linear-gradient( #56185f, #191b43);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient( #56185f, #191b43);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient( #56185f, #191b43);
    /* Firefox 3.6 - 15 */
    background: linear-gradient( #56185f, #191b43);
    /* 标准的语法 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56185f', endColorstr='#191b43', GradientType=0);
}

.Layout__close {
    background: url(./images/close.png) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    transition: all 0.5s
}

.Layout__close:hover {
    background: url(./images/close_hover.png) no-repeat;
}

.Layout__cont50 {
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box
}

.Layout__table {
    overflow: hidden;
}

.Layout__table li {
    width: 50%;
    float: left;
    padding: 3px;
    box-sizing: border-box
}

.Layout__table .box {
    border: 1px solid #4d5da4;
    line-height: 38px;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.Layout__table div {
    float: left;
}

.Layout__tb {
    float: left;
    height: 50%;
    width: 100%;
}

.color__org {
    color: #da8b03
}

.Layout__searchbox {
    overflow: hidden;
    padding-top: 10px;
    color: #a2c5ef;
}

.Layout__searchbox input, .Layout__searchbox select {
    background: #1c2352;
    border: 1px solid #464a8d;
    border-radius: 3px;
    height: 32px;
    box-sizing: border-box;
    color: #a2c5ef;
    padding: 0 5px;
    margin: 0 20px 0 5px;
    width: 150px;
}

.Layout__searchbox .Layout__searchbtn {
    background: #00b57d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 80px;
    cursor: pointer;
    transition: all 0.5s
}

.Layout__searchbox .Layout__searchbtn:hover {
    background: #03a3b1;
}

.Layout__searchout {
    background: #1c2352;
    border: 1px solid #464a8d;
    border-radius: 3px;
    height: 32px;
    line-height: 30px;
    ;
    box-sizing: border-box;
    color: #a2c5ef;
    padding: 0 10px;
    float: right;
    cursor: pointer;
}

/* 列表 */

/* 
.ListMain {
    overflow: hidden;
    padding: 20px 20px 0 10px;
}

.ListNav {
    width: 190px;
    color: #aecff9;
    float: left;
}

.ListNav li {
    padding: 0 5px;
    line-height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ListNav .selected, .ListNav li:hover {
    background: #202e69;
    border-radius: 5px;
}

.ListNav .selected .ListNav__secondary {
    display: block
}

.ListNav__secondary {
    display: none;
    font-weight: normal;
    padding: 0 10px 15px 10px;
}

.ListNav__secondary li {
    padding-left: 20px;
    line-height: 34px;
    color: #afd0fa;
    margin: 3px 0;
}

.ListNav__secondary li.ListNav__this {
    background: #00b183;
    border-radius: 3px;
    color: #ffffff
}

.ListNav__secondary li:hover {
    border-radius: 3px;
    background: #255297;
    color: #ffffff
}

.ListNav__secondary li.ListNav__this:hover {
    background: #00b183;
}

.ListNav_i1 {
    background: url(./images/list_i1.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i2 {
    background: url(./images/list_i2.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i3 {
    background: url(./images/list_i3.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i4 {
    background: url(./images/list_i4.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i5 {
    background: url(./images/list_i5.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i6 {
    background: url(./images/list_i6.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i7 {
    background: url(./images/list_i7.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i8 {
    background: url(./images/list_i8.png) no-repeat left center;
    padding-left: 30px;
}

.ListNav_i9 {
    background: url(./images/list_i9.png) no-repeat left center;
    padding-left: 30px;
} */

.ListBody {
    padding-left: 220px;
    width: 100%;
    box-sizing: border-box;
    height: 800px
}

.ListBody__cont {
    background: #1d2857;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.ListBody__hd {
    font-size: 16px;
    font-weight: bold;
}

.ListTable {
    padding-top: 25px;
}

.ListTable__HD {
    height: 20px;
    line-height: 20px;
    background: #263575;
    overflow: hidden;
    color: #a2c5ef;
    padding: 13px 0;
}

.ListTable__HD div {
    float: left;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #4d5da4;
    box-sizing: border-box
}

.ListTable__HD div:first-child {
    border: none
}

.ListTable__body {
    overflow: hidden;
    padding-top: 5px;
}

.ListTable__body li {
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    ;
}

.ListTable__body li:nth-child(2n) {
    background: #1c2352;
}

.ListTable__body li:hover {
    background: #1b5e55;
}

.ListTable__body li div {
    float: left;
    text-align: center;
    color: #a2c5ef
}

.ListTable__w40 {
    width: 40%
}

.ListTable__w30 {
    width: 30%
}

.ListTable__w20 {
    width: 20%
}

.ListTable__w25 {
    width: 25%
}

.ListTable__w15 {
    width: 15%
}

.ListTable__w10 {
    width: 10%
}

.ListTable__w5 {
    width: 5%
}

.Pagination {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 15px;
}

.Pagination__bod {
    width: 130px;
    margin: 0 auto;
    overflow: hidden;
}

.Pagination__pre {
    width: 16px;
    margin-top: 5px;
    height: 16px;
    background: url(./images/pag_btn.png) no-repeat;
    float: left;
    cursor: pointer;
}

.Pagination__pre:hover {
    background: url(./images/pag_btn.png) no-repeat -16px 0;
}

.Pagination__thispage {
    float: left;
    background: #181f3d;
    height: 26px;
    width: 40px;
    border: 1px solid #3d4b84;
    text-align: center;
    color: #a2c5ef;
    margin: 0 5px;
}

.Pagination__sumpage {
    float: left;
    line-height: 26px;
    color: #a2c5ef;
    padding: 0 5px;
}

.Pagination__next {
    cursor: pointer;
    margin-top: 5px;
    width: 16px;
    height: 16px;
    background: url(./images/pag_btn.png) no-repeat 0 -16px;
    float: left;
}

.Pagination__next:hover {
    background: url(./images/pag_btn.png) no-repeat -16px -16px;
}