<% include("../../common/head.html"){} %>
<script type="text/javascript" src='<#jsCssPath url="/js/jsencrypt.js"/>'></script>

<form id="form1" name="form1">
	<input type="hidden" name="public_key" id="public_key" value="${PUBLIC_KEY!}" />
	<table >
		<tr height="30">
			<td align="right" width="120">用户名：</td>
			<td>${ACCOUNT!}</td>
		</tr>
		<tr height="30">
			<td align="right">姓名：</td>
			<td>${LOGIN_NAME!} <input type="hidden" name="OPNAME" value="${LOGIN_NAME}" />
			</td>
		</tr>
		<tr height="30">
			<td align="right">原密码：</td>
			<td><input type="password" name="OLD_PWD" id="OLD_PWD" style="width: 90%" /> <font color="red">*</font></td>
		</tr>
		<tr height="30">
			<td align="right">修改后密码：</td>
			<td><input type="password" name="PWD" id="PWD" style="width: 90%;" maxlength="20" /> <font color="red">*</font></td>
		</tr>
		<tr height="30">
			<td align="right">重复密码：</td>
			<td><input type="password" name="PASSWORD2" id="PASSWORD2" style="width: 90%;" maxlength="20" /> <font color="red">*</font></td>
		</tr>
		<tr height="30">
			<td></td>
			<td valign="middle"><input type="hidden" name="CON_STYLE" value="MODIFY" /> <A class="easyui-linkbutton btn_edit" data-options="iconCls:'icon-ok'" href="#" id="id_submit">确认修改</A>
		</tr>
		<!-- <tr height="30" style="display:${STRONG_PWD=='1'?'':'none'}'"> -->
		<tr height="30">
			<td></td>
			<td style="padding-right: 20px;"><span id="MSGSPAN" style="color: #848484; font-size: 80%;"></span></td>
		</tr>
	</table>
</form>
<form id="form2" method="post" name="form2" action="restful">
	<input type="hidden" name="action" value="<#encAction action="save_password"/>"> <input type="hidden" name="PWDMI" id="PWDMI" value=""> <input type="hidden" name="OLD_PWDMI" id="OLD_PWDMI" value="">
</form>
<script language="javascript">
    function checkUserInfo() {
        if (document.form1.OLD_PWD.value == "") {
            showMsgAndExecFn("原密码不能为空！", "", "");
            document.form1.OLD_PWD.focus();
            return false;
        }

        if (document.form1.PWD.value == "") {
            showMsgAndExecFn("密码不能为空！", "", "");
            document.form1.PWD.focus();
            return false;
        }

        if (document.form1.PWD.value != document.form1.PASSWORD2.value) {
            showMsgAndExecFn("两次密码输入不相同！", "", "");
            document.form1.PASSWORD2.focus();
            return false;
        }
        var msg='';
        if(${STRONG_PWD=='1'}){
        	msg=chkpwd(document.form1.PWD.value);
        }
        if(msg!=''){
            alert(msg);
            return false;
        }
        return true;
    }
    //验证密码规则
    function chkpwd(passwd){
        var check = ${"/"+PWD_REGEXP+"/"};
        if(!check.test(passwd)){
            return "${PWD_MSG}";
        }
        return "";
    }
    $(function(){
        $("#id_submit").click(function(){
            if(!checkUserInfo()){
                return false;
            }
            saveData();
            return false;
        });
        $("#MSGSPAN").html("${PWD_MSG}");
    });
    
    function saveData(){
       //密码进行加密
       var jsencrypt = new JSEncrypt();
       jsencrypt.setPublicKey($("#public_key").val());
       
       $("#OLD_PWDMI").val(jsencrypt.encrypt($("#OLD_PWD").val()));
       $("#PWDMI").val(jsencrypt.encrypt($("#PWD").val()));
       
       submitFormData("form2","setReturnValue");
    }
    
    function setReturnValue(){
	 $("#OLD_PWD").val("");
	 $("#PWD").val("");
	 $("#PASSWORD2").val("");
    }
</script>
<% include("../../common/end.html"){} %>
