.topnav {
	/*width: 213px;*/
	padding: 40px 28px 25px 0;
	/*font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;*/
}

ul.topnav {
	padding: 0;
	margin: 0;
	line-height: 0.3em;
	list-style: none;
}

.chi .parent_tree {
	background: none !important;
	border: none
}

.parent_tree {
	background: none !important;
}

.chi li:hover{
	background: #a18451;
	border-radius: 3px;
	color: #fff;
}

.isnocolor {
	background: #90774c !important;
	border-radius: 3px 3px 0 0
}

.chi {
	background: #90774c !important;
	border-radius: 0 0 3px 3px;
	padding-bottom: 5px !important;
}
.chi a:hover{color: #ffe59a;}
.chi .chi {	background:none !important;}
/* ul.topnav li{ padding: 5px 0;border-bottom: 1px solid #1d2857 } */

ul.topnav li a {
	line-height: 40px;
	color: #fff;
	display: block;
	text-decoration: none;
	font-weight: bolder;
	padding-left: 5px;
}

ul.topnav li a:hover {
	/*background-color: silver;*/
}

ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
}

ul.topnav ul li {
	margin: 0;
	padding: 0 10px;
	clear: both;
}

ul.topnav ul li a {
	padding: 10px 5px;
	font-weight: normal;
	outline: 0;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin: 0 !important;
}

ul.topnav span {
	width: 24px;
	height: 24px;
	float: left;
	margin-top: 7px;
	padding-right: 5px;
}

.chi .arrows_up {
	background: url("../images/arrow_jia.png") no-repeat !important;
	width: 24px;
	height: 24px;
	padding: 0;
}

.chi .arrows_down {
	background: url("../images/arrow_jian.png") no-repeat !important;
	padding: 0;
	width: 24px;
	height: 24px;
}

.chi span {
	margin-top:3px !important;
	padding: 0 !important;
}

ul.topnav li:nth-child(1) a.arrows_down, ul.topnav li:nth-child(1) a.arrows_up {
	background: url("../images/list_i17.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(2) a.arrows_down, ul.topnav li:nth-child(2) a.arrows_up {
	background: url("../images/list_i10.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(3) a.arrows_down, ul.topnav li:nth-child(3) a.arrows_up {
	background: url("../images/list_i16.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(4) a.arrows_down, ul.topnav li:nth-child(4) a.arrows_up {
	background: url("../images/list_i14.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(5) a.arrows_down, ul.topnav li:nth-child(5) a.arrows_up {
	background: url("../images/list_i19.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(6) a.arrows_down, ul.topnav li:nth-child(6) a.arrows_up {
	background: url("../images/list_i5.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(7) a.arrows_down, ul.topnav li:nth-child(7) a.arrows_up {
	background: url("../images/list_i7.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(8) a.arrows_down, ul.topnav li:nth-child(8) a.arrows_up {
	background: url("../images/list_i18.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(9) a.arrows_down, ul.topnav li:nth-child(9) a.arrows_up {
	background: url("../images/list_i2.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(10) a.arrows_down, ul.topnav li:nth-child(10) a.arrows_up {
	background: url("../images/list_i20.png") no-repeat;
	width: 24px;
	height: 24px;
}

ul.topnav li:nth-child(11) a.arrows_down, ul.topnav li:nth-child(11) a.arrows_up {
	background: url("../images/list_i21.png") no-repeat;
	width: 24px;
	height: 24px;
}
ul.topnav li:nth-child(12) a.arrows_down, ul.topnav li:nth-child(12) a.arrows_up {
	background: url("../images/list_i22.png") no-repeat;
	width: 24px;
	height: 24px;
}
ul.topnav li:nth-child(13) a.arrows_down, ul.topnav li:nth-child(13) a.arrows_up {
	background: url("../images/list_i23.png") no-repeat;
	width: 24px;
	height: 24px;
}
ul.topnav li:nth-child(14) a.arrows_down, ul.topnav li:nth-child(14) a.arrows_up {
	background: url("../images/list_i11.png") no-repeat;
	width: 24px;
	height: 24px;
}
ul.topnav li:nth-child(15) a.arrows_down, ul.topnav li:nth-child(15) a.arrows_up {
	background: url("../images/list_i24.png") no-repeat;
	width: 24px;
	height: 24px;
}
ul.topnav li:nth-child(16) a.arrows_down, ul.topnav li:nth-child(16) a.arrows_up {
	background: url("../images/list_i13.png") no-repeat;
	width: 24px;
	height: 24px;
}
ul.topnav li:nth-child(17) a.arrows_down, ul.topnav li:nth-child(17) a.arrows_up {
	background: url("../images/list_i12.png") no-repeat;
	width: 24px;
	height: 24px;
}