<% include("../../../common/head.html"){} %>
<form name="form1" id="form1">
	<div id="fieldset_condition" style="margin: 0px;">
		<fieldset>
			<legend id="fieldset_legend" onclick="fieldsetToggle('fieldset_legend','${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/');" style="cursor: pointer;" title="点击：显示/隐藏">
				<img src='${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/images/DHTMLSuite_minus.gif' />查询条件
			</legend>
			<table style="width: 100%;" id="fieldset_data">
				<tr>
					<td><input name="DMLX" type="hidden" value="${FLAG}" /> <input name="APP_ID" type="hidden" value="COMMON" /> 代码：<input name="DM" type="text" size="10" class="txtitem" /> 内容：<input name="DMNR" type="text" size="10" class="txtitem" /> 备注：<input name="BZ" type="text" size="10" class="txtitem" /> <a href="#" class="easyui-linkbutton btn_query" data-options="iconCls:'icon-search'" onclick='queryData()'>查询</a></td>
				</tr>
			</table>
		</fieldset>
	</div>

	<div style="margin: 0px;">
		<table id="dg" class="easyui-datagrid" title="">
			<thead>
				<tr>
					<th data-options="field:'UUID',hidden:true">主键</th>
					<th data-options="field:'APP_ID',hidden:true">应用系统主键</th>
					<th data-options="field:'DMLX',hidden:true,width:160,align:'left',halign:'center'">代码类型</th>
					<th data-options="field:'DM',width:160,align:'left',halign:'center'">代码</th>
					<th data-options="field:'DMNR',width:200,align:'left',halign:'center'">代码内容</th>
					<th data-options="field:'BZ',width:380,align:'left',halign:'center'">备注</th>
				</tr>
			</thead>
		</table>
	</div>
</form>
<script>
	//初始化加载
	$(function() {
		var pager = $('#dg').datagrid('getPager');//获取表格分页
		pager.pagination({
			buttons : stoolbar
		});
		queryData();
	});
	
	//自动缩放
	$(window).resize(function() {
		$('#dg').resizeDataGrid($("#fieldset_condition").height()+1, 4, 0, 0);
	});

	//查询
	function queryData() {
		var s_url = "restful?action=<#encAction action="${FLAG =='DEPT.TYPE'?'dept_type_query':'office_type_query'}"/>";
		$('#dg').datagrid({
			url : s_url,
			pageNumber:1,striped:true,
			queryParams : $('#form1').serializeObject(),
			onLoadSuccess : function(data) {
				$(window).resize();
				//成功验证是否有无出错
				if (data.g_result == "0") {
					showMsg(data.g_message);
				}
			},
			onDblClickRow : function(rowIndex, rowData) {
				//双击
				updateData('修改', rowData.UUID, rowData.APP_ID);
			}
		});
		var pager = $('#dg').datagrid('getPager'); //获取表格分页
		pager.pagination({
			buttons : stoolbar
		});
	}

	//刷新查询
	function refreshQueryData(jsondata) {
		if (jsondata.g_result && jsondata.g_result == '1') {
			if (!jsondata.showMsgFlag) {
				//没有显示过的，显示
				showMsg(jsondata.g_message);
			}
			queryData();
		}
	}

	//底部按钮
	var stoolbar = ['-'              
	<#hasButton code="userpower.${FLAG =='DEPT.TYPE'? 'depttype':'officetype'}_2">
    ,'-',{
		text : '新增',
		iconCls : 'icon-add',
		handler : function() {
			updateData('新增',"");
		}
	}
	</#hasButton>
	<#hasButton code="userpower.${FLAG =='DEPT.TYPE'? 'depttype':'officetype'}_2">
	,'-', {
		text : '修改',
		iconCls : 'icon-edit',
		handler : function() {
			var rows = $('#dg').datagrid('getSelections');
			if (rows.length != 1) {
				showMsgAndExecFn("请选择一条数据！", "");
				return;
			}
			updateData('修改', rows[0].UUID, rows[0].APP_ID);
		}
	}
	</#hasButton>
	<#hasButton code="userpower.${FLAG =='DEPT.TYPE'? 'depttype':'officetype'}_8">
	,'-', {
		text : '删除',
		iconCls : 'icon-remove',
		handler : function() {
			var rows = $('#dg').datagrid('getSelections');
			if (rows.length != 1) {
				showMsgAndExecFn("请选择一条数据！", "");
				return;
			}
			showConfirm("删除该条数据吗？", "delData");
		}
	}
	</#hasButton>];
	
	//处理按钮多余的坚线
  	stoolbar=dataGridButtonFilter(stoolbar);

	function updateData(title, uuid, app_id) {
		var flag = $("input[name='DMLX']").val();
		var cmd = 'A';
	  	if(uuid){
		  	cmd = 'U';
	  	}
	  if(!app_id){
		  app_id = $("input[name='APP_ID']").val();
	  }
		openWindow(title, "do?action=<#encAction action="${FLAG =='DEPT.TYPE'?'dept_type_modify':'office_type_modify'}"/>&CMD="+cmd+'&PRIVALUE=' + uuid+'&FLAG='+flag+'&APP_ID='+app_id, 250, 400, "refreshQueryData");
	}

	function delData(){
		var param = {};
		param.action = "${FLAG =='DEPT.TYPE'? '<#encAction action="dept_type_delete"/>':'<#encAction action="office_type_delete"/>'}";
	    var rows = $('#dg').datagrid('getSelections');
	    if(rows.length!=1){
	      showMsgAndExecFn("请选择一条数据！","");
	      return;
	    }
	    param.PRIVALUE = rows[0].UUID;
	    param.APP_ID = $("input[name='APP_ID']").val();
	    postAjax("restful",param,"refreshQueryData");    
	}
</script>
<% include("../../../common/end.html"){} %>
