<% include("../../common/head.html"){} %>
<form name="form1" id="form1">
	<div id="fieldset_condition" style="margin: 0px;">
		<fieldset>
			<legend id="fieldset_legend" onclick="fieldsetToggle('fieldset_legend','${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/');" style="cursor: pointer;" title="点击：显示/隐藏">
				<img src='${kind_framework_ms_urls_resource==null?'.':kind_framework_ms_urls_resource}/images/DHTMLSuite_minus.gif' />查询条件
			</legend>
			<table style="width: 100%;" id="fieldset_data">
				<tr>
					<td><span>参数号：</span> <input type='text' name='PARAID' size='20' class="txtitem" /> <span>参数名：</span> <input type='text' name='PARANAME' size='20' class="txtitem" /> <a href="#" class="easyui-linkbutton btn_query" data-options="iconCls:'icon-search'" onclick='queryData()'>查询</a></td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div style="margin: 0px;">
		<table id="dg" class="easyui-datagrid" title="">
			<thead>
				<tr>
					<th data-options="field:'UUID',hidden:true">主键</th>
					<th data-options="field:'PARAID',width:80,halign:'center',align:'left'">参数号</th>
					<th data-options="field:'PARANAME',width:160,align:'left',fixed:true,halign:'center'">参数名</th>
					<th data-options="field:'PARAVALUE',width:160,align:'left',halign:'center'">参数值</th>
					<th data-options="field:'NOTES',align:'left',halign:'center'">备注</th>
				</tr>
			</thead>
		</table>
	</div>
</form>
<script>
  //初始化加载
  $(function() {
      var pager = $('#dg').datagrid('getPager');//获取表格分页
      pager.pagination({buttons:stoolbar});
      
      queryData();
  });
    
   //自动缩放
   $(window).resize(function() {
       $('#dg').resizeDataGrid($("#fieldset_condition").height()+1, 4, 0, 0);
   });
   
   //查询
   function queryData() {
       var s_url = "restful?action=<#encAction action="query_sysparam"/>";      
       $('#dg').datagrid({
           url : s_url,
           pageNumber:1,striped:true,
           queryParams : $('#form1').serializeObject(),
           onLoadSuccess:function(data){
               //成功验证是否有无出错
               if(data.g_result=="0"){
                   showMsg(data.g_message);
               }
           },
           onDblClickRow:function(rowIndex, rowData){
               //双击
               updateData('修改参数',rowData.UUID);
           }
       });
       var pager = $('#dg').datagrid('getPager');  //获取表格分页
       pager.pagination({buttons:stoolbar});
   }
   
   //刷新查询
   function  refreshQueryData(jsondata){
       if(jsondata.g_result ){
           if(!jsondata.showMsgFlag){
               //没有显示过的，显示
               showMsg(jsondata.g_message);
           }
           if(jsondata.g_result=='1'){
               queryData();
           }
       }               
   }
   
   //底部按钮
   var stoolbar = [ 
    <#hasButton code="dictionary.parameter_2">                   
   {
       text : '新增',
       iconCls : 'icon-add',
       handler : function() {
           updateData('新增参数','');
       }
   }
   </#hasButton>
	<#hasButton code="dictionary.parameter_2">
   ,'-',{
       text : '修改',
       iconCls : 'icon-save',
       handler : function() {
           var rows = $('#dg').datagrid('getSelections');
           if(rows.length!=1){
               showMsgAndExecFn("请选择一条数据！","");
               return;
           }
           updateData('修改参数',rows[0].UUID);
       }
   }
   </#hasButton>
	<#hasButton code="dictionary.parameter_8">
   ,'-', {
       text : '删除',
       iconCls : 'icon-remove',
       handler : function() {
           var rows = $('#dg').datagrid('getSelections');
           if(rows.length!=1){
               showMsgAndExecFn("请选择一条数据！","");
               return;
           }
           showConfirm("删除该条数据吗？","delData");  
       }
   }
   </#hasButton>];
   
 	//处理按钮多余的坚线
 	stoolbar=dataGridButtonFilter(stoolbar);
   
   function updateData(title,uuid){
   	var cmd = 'A';
  	if(uuid){
	  	cmd = 'U';
  	}
       openWindow(title, 'do?action=<#encAction action="sysparam_modify"/>&CMD=' + cmd + '&UUID=' + uuid, 380, 500, "refreshQueryData");
   }
   function delData(){
	var param = {};
	param.action = "<#encAction action="delete_sysparam"/>";
    var rows = $('#dg').datagrid('getSelections');
    if(rows.length!=1){
      showMsgAndExecFn("请选择一条数据！","");
      return;
    }
    param.UUID = rows[0].UUID;
    postAjax("restful",param,"refreshQueryData");    
	}
</script>
<% include("../../common/end.html"){} %>
